body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

nav li a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}
nav li:hover {
  background-color: #111;
}
nav .active {
  background-color: #999;
}

section{
  margin-top: 10%;
  width: 100%;
  position: fixed;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}